python==3.9.12
numpy==1.23.4
pandas==1.5.1
matplotlib==3.6.2
scikit-learn==1.1.3
scikit-survival==0.19.0
# orange==3.30.2 # for statistical plots (does it work with conda install orange3? Not comaptible with spyder 5.2.2)
#with PIP:
pip install orange==0.30.2
pip install dearpygui==1.6.2 
pip install dearpygui-ext==0.9.5