### requirements ###
python>=3.9.12
matplotlib>=3.6.2
scikit-learn>=1.2.2
scikit-survival>=0.21.0

### requirements for the User Interface ###
pip install dearpygui>=1.6.2 
pip install dearpygui-ext>=0.9.5

### requirements for statistical testing (not for the Bellatrex itself) ###
# orange==3.30.2 (Not compatible with spyder 5.2.2 ?)
#with PIP:
pip install orange3==3.30.2

